# dependencies
node_modules
.pnpm
dist
build

# Vite
.vite

# dotenv environment
.env
.env.local
.env.*.local

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor/IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Optional: if you use coverage
coverage

# Optional: if you use eslint cache
.eslintcache
