      .meny-options {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          margin-top: 12px;
      }

      .meny-options .item:hover {
          background-color: #353131;
          cursor: pointer;
      }

      .meny-options .item {
          padding: 8px 12px;
          background: rgba(241, 240, 236, 0.24);
          color: rgba(244, 243, 241, 0.94);
          border-radius: 4px;
          font-size: 14px;
          text-transform: lowercase;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          transition: background-color 0.2s ease;
      }

      .menu-item-options .title {
          display: flex;
          align-items: baseline;
          color: rgba(244, 243, 241, 0.94);
          font-weight: 700;
          font-size: 22px;
          text-transform: uppercase;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      }

      .menu-item-options .title .name {
          flex-shrink: 0;
      }

      .menu-item-options .title .line {
          flex-grow: 1;
          border-bottom: 1px dashed rgba(244, 243, 241, 0.94);
          margin: 0 8px;
          height: 0;
      }

      .menu-item-options .title .line {
          flex-grow: 1;
          border-bottom: 1px dashed rgba(244, 243, 241, 0.94);
          margin: 0 8px;
          height: 0;

      }

      .menu-item-options .title .price {
          flex-shrink: 0;
      }

      .menu-item-options {
          padding: 16px;
          border-bottom: 1px dashed rgba(241, 240, 236, 0.24);
          transition: background-color 0.2s ease;
      }

      .menu-item-options:hover {
          background-color: rgba(255, 255, 255, 0.1);
          cursor: pointer;
      }